.bg-header {
  height: 154px;
  width: 100%;
  & > div {
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
  }
}
.bg-gradient-home {
  background: 
  linear-gradient(180deg, #FFEDD5 10.1%, #FFFFFF 45%),
  linear-gradient(180deg, #FFFFFF 0%, #FFEDD5 100%);
}