.bgColor {
  background: linear-gradient(
    to bottom,
    var(--bs-primary-100) 0%,
    var(--bs-primary-100) 20%,
    var(--bs-white) 60%,
    var(--bs-primary-50) 75%,
    var(--bs-primary-100) 95%
  );
  // padding-bottom: 70px;
}

.mili-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.register {
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  margin-bottom: auto;
  gap: 12px;
}
